@font-face {
  font-family: berlin;
  src: url("../../BRLNSR.TTF");
}

*{
font-family:berlin;
}
.date{
  border:none;
  background:none;
  text-align:center;
  width:244px;
  font-weight: bold;
  font-size:24px
}
.time{
  border:none;
  background:none;
  font-weight: bold;
  text-align:center;
  color: black;
  width: 310px;
  font-size:35px;

  
}

p{
  color: white;
}

body{
  background-color: black;
  padding: 20px;
}

button{
  height: 40px;
}



.map{width:500px;margin-top:110px;margin-left:4%;}

